.zrt-footer {
    padding: 20px;
    background-color: #333;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.zrt-footer-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.zrt-footer-version-update-available {
    cursor: pointer;
    text-decoration: underline;
}
