.zrt-header {
    padding: 20px;
    background-color: #333;
    color: #FFF;
}

.zrt-header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.zrt-nav-active {
    text-decoration: underline;
}

.zrt-header-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.zrt-header-content > a {
    padding: 10px;
    cursor: pointer;
}
