.zrt-skill-graph-card {
    background-color: #FFFFFF;
    max-width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.zrt-skill-graph-card > h2 {
    margin: 0px;
}